@model EmployeeManagementSystem.Domain.EmployeeView

@{
    ViewData["Title"] = "AddEmployee";
}

<h1>AddEmployee</h1>

@using (Html.BeginForm("AddEmployee", "Home", FormMethod.Post))
{
    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div align="center">
                <br />
                <input required type="text" placeholder="First Name" name="firstName" Class="form-control" ID="firstName"value="@Model.FirstName" /><br />
                <input required type="text" placeholder="Last Name" name="lastName" Class="form-control" ID="lastName"  value="@Model.LastName"/><br />
                <input required type="text"  placeholder="Department" name="department" Class="form-control" ID="department"  value="@Model.Department"/><br />
                <input required type="date" placeholder="Date Of Birth" name="dateOfBirth" Class="form-control" ID="dateOfBirth"  value="@Model.DateOfBirth"/><br />
                <br />
                <input type="submit" Class="btn btn-primary" value="Submit">

            </div>

        </div>
    </div>

}
