@{
    ViewData["Title"] = "Employee List";

}

<h1>Employees</h1>

<div class="card-header bg-transparent border-0 row">
    <div class="col-md-6 col-sm-6">
        <form action="~/home/GetEmployee">
            <input class="form-control" name="searchString" id="searchString" onkeyup="searchFunction()" placeholder="Search here..." required type="text">
        </form>
    </div>
    <div class="col-md-6 col-sm-6 text-right">
        <a class="btn-sm btn btn-outline-primary" onclick="addFunction()" title="AddEmployee">Add Employee  </a>
    </div>
</div>
<br />
    <div class="loader">

    </div>
<div id="list">

</div>
@section Scripts{
    <script src="~/Script/services.js"></script>

}
