@model EmployeeManagementSystem.Domain.EmployeeView

@{
    var hasInfo = (Model != null) && (Model.employeeLis != null) && (Model.employeeLis.Any());

}


@if (hasInfo)
{
    <div class="table-active">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Date Of Birth</th>
                </tr>
            </thead>
            <tbody id="myTable">

                @foreach (var item in Model.employeeLis)
                {

                    <tr>
                        <td scope="row">
                            @item.FirstName
                        </td>
                        <td>
                            @item.LastName
                        </td>
                        <td>
                            @item.Department
                        </td>
                        <td>
                            @item.DateOfBirth
                        </td>

                    </tr>

                }
            </tbody>

        </table>
    </div>
}
else
{
    <div class="validation-summary-errors">
        No Record Found
    </div>
}